
<div class="right-side">
 
  <div class="section">
    <h3>PROFILE</h3>
    <p>Business Information Systems student with a strong interest in back-end development using .NET and SQL. Currently
enhancing skills through practical projects and self-learning. Familiar with front-end basics (HTML, CSS, JavaScript) and
actively involved in student communities that foster teamwork and technical growth. Enthusiastic about starting a
career in back-end development.</p>
   
  </div>


  <div class="section">
    <h3>EDUCATION</h3>
    <ul>
      <li><b>senior Year Business Information Systems Student(3.7 GPA)</b><br>
      Helwan University </li>
     
    </ul>
  </div>

    <div class="section">
    <h3>COURSES</h3>
    <ul>
      <li><b>Back-end course (.net)</b><br>at route academy  </li>
     
    </ul>
  </div>


  <div class="section">
    <h3>extracurricular activities</h3>
    <ul>
      <li><b>projects mebmer</b> <br>
    enactus helwan bis </li><br>
      <li><b>back-end web development delgate</b> <br> Three DOS </li>
       <li><b>moblile application delegate</b> <br>
    MSP Cairo University </li><br>
    
    </ul>
  </div>

